<div class="col">
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close</button>
    <a href="#" class="w3-bar-item w3-button">Editor</a>
    <a href="#" class="w3-bar-item w3-button">Arbol AST</a>
    <a href="#" class="w3-bar-item w3-button">Reporte de errores</a>
    <a href="#" class="w3-bar-item w3-button">Reporte de tokens</a>
  </div>
</div>
<nav class="container-fluid">
  <nav class="navbar navbar-light" style="background-color: #171818;">
    <div id="main" class="row">
      <button class="btn btn-outline-success" type="button" onclick="w3_open()">Menu</button>
  
    </div>
    <div class="col">
      <form class="container-fluid justify-content-start" >
  
        <a class="navbar-brand" href="#" style="color: aliceblue;">Compscript</a>
      </form>
    </div>
  
  </nav>
</nav>


<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

